<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header class="header container">
        <h1 class="logo">Cloudify</h1>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-link"><a href="/dashboard">Dashboard</a></li>
                <li class="nav-link"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="main container">
        <section class="file-upload">
            <h1 class="file-upload-heading">Upload a new file</h1>
            <div class="file-upload-body">
                <form class="file-upload-form" action="/file" method="post" enctype="multipart/form-data">
                    <div class="form-field">
                        <input type="file" name="file" aria-label="File Upload">
                    </div>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </form>
                {{ if .error }}
                <p class="file-upload-error form-error">{{ .error }}</p>
                {{ end }}
            </div>
        </section>
        {{ if .files }}
        <section class="file-list text-center">
            <h1 class="file-list-heading">Your files</h1>
            <table class="file-table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>File Name</th>
                        <th>File Type</th>
                        <th>Upload Date</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $i, $val := .files}}
                    <tr>
                        <td>{{ $i }}</td>
                        <td>{{ $val.FileName }}</td>
                        <td>{{ $val.FileExtension }}</td>
                        <td>{{ $val.InsertionDate.Format "2006-01-02" }}</td>
                        <td><a href="/file/{{ $val.FileID.Hex }}" class="btn btn-primary">Download</a></td>
                        <td>
                            <form action="/file/delete" method="post">
                                <input type="hidden" name="id" value="{{ $val.FileID.Hex }}">
                                <input type="submit" class="btn btn-warning" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </section>
        {{ end }}
    </main>
</body>
</html>