<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header class="header container">
        <h1 class="logo">Cloudify</h1>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="/accounts/login">Login</a></li>
                <li class="nav-link"><a href="/accounts/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main class="main container">
        <section class="hero">
            <div class="hero-logo">
                <img src="/public/images/undraw_upload_re_pasx.svg" alt="">
            </div>
            <div class="hero-body">
                <h1 class="hero-field hero-heading">The cloud storage for you</h1>
                <p class="hero-field hero-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti iure veritatis debitis facere ea repellat adipisci incidunt, a iste ullam inventore sapiente eos deleniti nobis, obcaecati vel. Quae, enim.
                </p>
                <a href="/accounts/register" class="hero-field hero-cta btn btn-primary">Get Started</a>
            </div>
        </section>
    </main>
</body>
</html>