<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header class="header container">
        <h1 class="logo">Cloudify</h1>
        <nav class="navbar">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/accounts/login">Login</a>
            <a class="nav-link" href="/accounts/register">Register</a>
        </nav>
    </header>
    <main class="main container">
        <div class="form">
            <h1 class="form-title text-center">Account Login</h1>
            {{ if .error}}
            <p class="form-error">{{ .error }}</p>
            {{ end }}
            <form action="/accounts/login" method="post" class="form-body">
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Email" id="email">
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" id="password">
                </div>
                <div class="form-field">
                    <input type="submit" aria-label="Login" class="btn btn-outline-primary btn-extended" value="Login">
                </div>
            </form>
            <p class="form-other text-center">Don't have an account? <a href="/accounts/register">Sign up</a></p>
        </div>
    </main>
    
</body>
</html>