/* imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/* base styles */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: hsl(243, 100%, 69%);
    --color-primary-dark: hsl(243, 51%, 53%);
    --color-background: hsl(0, 0%, 20%);
    
    
    --color-headings: hsl(0, 0%, 95%);
    --color-paragraphs: hsl(0, 0%, 80%);
}

.container{
    max-width: 1520px;
    margin: 0 auto;
}

/* Typography */

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: var(--color-paragraphs);
    font-family: 'Nunito', sans-serif;
}

p {
    max-width: 50ch;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-headings);
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 4rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Page default layout */

body{
    background: var(--color-background);
    margin: 0;
}


/* Anchor tags */

a {
    text-decoration: none;
    color: var(--color-headings);
    font-weight: 600;
    font-size: 1.6rem;
}


/* Button */

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    outline: none;
}

.btn-extended {
    width: 100%;
}

.btn-primary{
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    transition: border 0.1s linear, background 0.1s linear;
}

.btn-primary:hover{
    border: 1px solid var(--color-primary-dark);
    background: var(--color-primary-dark);
}

.btn-outline-primary{
    border: 1px solid var(--color-primary);
    background: none;
    transition: background 0.1s linear;
}

.btn-outline-primary:hover{
    background: var(--color-primary);
}


/* Header */

.header {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 3rem;
    margin: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: inline-block;
    padding: 1rem;
    font-weight: 500;
    transition: border-bottom 0.2s linear, color 0.2s linear;
}

.nav-link:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary)
}


/* Main */

.main{
    padding: 2rem;
    height: 100vh;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.hero-logo img {
    width: 500px;
    height: auto;
}

.hero-heading {
    font-size: 4rem;
}

.hero-description{
    margin-bottom: 2rem;
}